
.registration
    position: relative

    // MARK: Success Message
    &__success-message
        display: none
        position: absolute
        top: 50%
        left: 50%
        width: 80%
        transform: translate(-50%, -50%)
        background-color: #fcfffc
        border: 2px solid #28a746
        padding: 2rem 4rem
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)

        h2
            font-size: 28px
            text-align: center
            margin-bottom: 1rem

    // MARK: Note
    &__note
        text-align: center
        margin-top: 1rem
        font-size: 16px

    // MARK: Data
    &__success-data
        display: grid
        grid-template-columns: 1fr 1fr
        align-items: center
        gap: .5rem
        margin: 2rem 0

        h3
            font-size: 20px
            span
                font-size: 16px
                font-weight: normal
        p
            font-size: 18px

    // MARK: Button
    &__success-ok
        display: flex
        justify-content: center
        width: 40%
        margin: 0 auto
        padding: 0.5rem 0
        font-size: 16px
        border: none
        border-radius: 4px
        background-color: #28a746d5
        color: #ffffff
        cursor: pointer
        &:hover
            background-color: #289c43
    
    // MARK: Form
    &__form
        border: 1px solid #ccc
        border-radius: 8px
        padding: 2rem
        display: flex
        flex-direction: column
        gap: .5rem

    // MARK: Label
    &__label
        display: flex
        flex-direction: column
        gap: .5rem

    // MARK: Span/Text
    &__text
        font-weight: bold
        font-size: 20px

    // MARK: Input
    &__input
        padding: .5rem
        border: 1px solid #ccc
        border-radius: 4px
        font-size: 18px
        &--textarea
            height: 100px
            resize: vertical
        

    // MARK: Error List
    &__error-list
        margin: 0
        padding: 0
        list-style-type: "X "
        list-style-position: inside
        color: red
        font-size: 16px
        ::marker
            font-weight: bold

    // MARK: Submit Button
    &__submit
        margin-top: 1rem
        padding: .5rem
        font-size: 20px
        border: none
        border-radius: 4px
        background-color: #005dc0b2
        color: #ffffff
        cursor: pointer
        &:hover
            background-color: #005dc0ce